@import "colors";
@import "sizes";
@import "fonts";

html, body{
  padding: 0;
  margin: 0;
  background-color: $color-background;
  color: $color-primary;
}

h1{
  font-family: $font-header;
  font-size: $size-header-text;
}

a{
  font-family: $font-paragraph;
  font-size: $size-link;
}

.Polaroid{
  display: flex;
  flex-basis: $size-image-width;
  flex-grow: 0;
  flex-shrink: 0;
  width: $size-image-width;
  height: $size-image-height;

  box-shadow: 1px 1px 2px $color-shadow;
  margin: 20px;
}

.PictureFrame{
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  background: url(../../content/seamless_paper_texture.png);
  margin: 40px;
  padding: 20px;
  border: 40px solid $color-inner-border;
  box-shadow: inset 0px 0px 8px $color-shadow;

  .PictureHolder{
    display:flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &::after{
    display:block;
    content: " ";
    position:absolute;
    top:-45px;
    bottom:-45px;
    left:-45px;
    right:-45px;
    border: 20px solid $color-border;
  }

  .Info{

    width: 90%;
    background: url(../../content/crossword.png);
    box-shadow: inset 0px 0px 8px $color-shadow;

    h1{
      width:100%;
      text-align: center;
    }

    p{
      font-family: $font-paragraph;
      font-size: $size-paragraph-text;
      width:100%;
      text-align: center;
    }

  }
}

.TitleBar{
  display: flex;
  flex-direction: row;
  background-color: $color-inner-border;
  padding: 30px;

  h1{
    display:flex;
    flex-basis:0;
    flex-grow:1;
    flex-shrink:1;
    color: $color-background;
    margin:0;
  }

  a{
    display:flex;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    color: $color-background;
  }
}
